<!doctype html>
<html lang="ar" dir="rtl">

<head>
<% include ../head %>
</head>
<body id="result">
        <nav class="navbar navbar-expand-lg navbar-light">
                <span class="navbar-brand abayro-brand" style="font-family: 'Montserrat' !important"><strong>A<span style="color: rgb(19, 93, 255);">B</span></strong></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a id="leaders" class="nav-link" href="/"><i class="fas fa-home"></i>الرئيسية</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="/support"><i class="fas fa-question"></i>سيرفر المساعدة</a>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="abayroCreditShop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-store"></i>متجر ابايرو
                      </a>
                      <div class="dropdown-menu animated bounceIn" aria-labelledby="abayroCreditShop">
                        <a class="dropdown-item" href="#"><i class="fas fa-id-badge"></i> متجر الشارات</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-image"></i> متجر الخلفيات</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i> سوق الكريدت</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fas fa-users"></i>عَن الفريق</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-star"></i>الميزات</a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="/leaderboard/servers"><i class="fas fa-trophy"></i>المتصدرين</a>
                    </li>
                  </ul>
                    <% if(!user) { %>
                  <a href="/login"><button class="btn btn-sm btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i> تسجيل الدخول</button></a>
          <% } else { %>
                        <% let format = ".png" || ".gif"; %>
                        <button class="btn btn-sm btn-primary" data-target="#loggedUserModal" id="modal" data-toggle="modal"><img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %><% format %>?size=2048" width="20" height="20" style="border-radius: 50px !important;"> مرحبا بك يا <%= user.username %></button>
                        <div class="modal fade bd-example-modal-lg" id="loggedUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-body text-center">
                                      <div class="container">
                                        <h4>
                                        مرحبا بك يا <%= user.username %>
                                        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %><% format %>?size=2048" width="50" height="50" style="border-radius: 50px !important;">
                                      </h4>
                                        <hr>
                                      <a style="font-family: 'JF Flat Regular';font-weight: bold" href="#/dashboard"><button class="btn btn-primary btn-raised btn-block blue-gradient-2"><i class="fas fa-cogs"></i> الذهاب الى لوحة التحكم</button></a><br>
                                      <a style="font-family: 'JF Flat Regular';font-weight: bold" href="#/store"><button class="btn btn-primary btn-raised btn-block blue-gradient-2"><i class="fas fa-shopping-cart"></i> تسوق سوق الكريدت</button></a><br>
                                      <a style="font-family: 'JF Flat Regular';font-weight: bold" href="#/users/<%= user.id %>/profile"><button class="btn btn-primary btn-raised btn-block blue-gradient-2"><i class="fas fa-id-badge"></i> رؤية ملفك الشخصي</button></a>
                                      <hr>
<a href="/logout"><button class="btn btn-danger btn-raised"><i class="fas fa-sign-in-alt"></i> تسجيل الخروج</button></a>
<a href="#/users/<%= user.id %>/edit"><button class="btn btn-success btn-raised"><i class="fas fa-user"></i> إعدادات حسابك</button></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
<% } %>      
                </div>
              </nav>
<!-- Abayro CONTENT -->
              <div class="jumbotron jumbotron-fluid abayro-manage-jumbotron" style="border-bottom: 5px solid rgb(0, 102, 255)">
                <div class="container">
                  <div class="text-center">
                    <br><br>
                    <h1 class="display-3 bold animated bounceInDown" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);">أعلى المتصدرين</h1>
                    <p class="lead bold animated bounceInUp" style="text-shadow: 0 0 20px rgba(0, 0, 0, 0.521);">أعلى 30 سيرفر متصدر في أبايرو</p>
                    <br><br>

                  </div>
                </div>
              </div>
              <div class="container animated bounceInUp">
                <p>
                  <strong>ملاحظة:</strong> أبايرو يعرض فقط السيرفرات التي يوجد بها ويعرض أعلى السيرفرات من ناحية النقاط
                </p>
                <div class="custom-jumbotron">
                  <div class="container">
                    <% const top = bot.guilds.sort((a, b) => a.memberCount - b.memberCount).array().reverse() %>
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[0].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[0].name %></h2>
                          <p><%= top[0].memberCount %> عضو</p>
                          <p><%= top[0].memberCount + top[0].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>الأول</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[0].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[1].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[1].name %></h2>
                          <p><%= top[1].memberCount %> عضو</p>
                          <p><%= top[1].memberCount + top[1].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>الثاني</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[1].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[2].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[2].name %></h2>
                          <p><%= top[2].memberCount %> عضو</p>
                          <p><%= top[2].memberCount + top[2].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>الثالث</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[2].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[3].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[3].name %></h2>
                          <p><%= top[3].memberCount %> عضو</p>
                          <p><%= top[3].memberCount + top[3].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>الرابع</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[3].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[4].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[4].name %></h2>
                          <p><%= top[4].memberCount %> عضو</p>
                          <p><%= top[4].memberCount + top[4].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>الخامس</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[4].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[5].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[5].name %></h2>
                          <p><%= top[5].memberCount %> عضو</p>
                          <p><%= top[5].memberCount + top[5].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>السادس</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[5].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[6].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[6].name %></h2>
                          <p><%= top[6].memberCount %> عضو</p>
                          <p><%= top[6].memberCount + top[6].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>السابع</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[6].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[7].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[7].name %></h2>
                          <p><%= top[7].memberCount %> عضو</p>
                          <p><%= top[7].memberCount + top[7].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>الثامن</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[7].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[8].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[8].name %></h2>
                          <p><%= top[8].memberCount %> عضو</p>
                          <p><%= top[8].memberCount + top[8].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>التاسع</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[8].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
                <div class="custom-jumbotron">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-2">
                          <div class="col-sm-5 text-center">
                          <img style="border-radius: 200px;" width="120" height="120" src="<%= top[9].iconURL %>">
                        </div>
                          </div>
                          <div class="col-sm-10">
                          <h2 style="font-family: 'Montserrat'"><%= top[9].name %></h2>
                          <p><%= top[9].memberCount %> عضو</p>
                          <p><%= top[9].memberCount + top[9].memberCount * 5 %> نقطة</p>
                          <p>الترتيب: <strong>العاشر</strong></p>
                          <div class="inline-buttons">
                          <a href="#/guilds/<%= top[9].id %>/leaders">
                          <button class="btn btn-success btn-raised">
                          <i class="fas fa-users"></i> أعلى 10 أعضاء
                          </button>
                          </a>
                            
                          <a href="#">
                          <button class="btn btn-primary btn-raised">
                          <i class="fab fa-discord"></i> رؤية معلوماته
                          </button>
                          </a>
                          </div>
                          </div>
                          </div>
                  </div>
                </div>
                <br>
              </div>
  
<center>
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <span class="page-link btn btn-primary btn-sm" disabled>الصفحة السابقة</span>
    </li>
    <li class="page-item active" aria-current="page"><a class="page-link btn btn-primary btn-sm" href="/leaderboard/servers">1<span class="sr-only">(current)</span></a></li>
    <li class="page-item">
      <a class="page-link btn btn-sm" href="/leaderboard/servers/2">2</a>
    </li>
    <li class="page-item"><a class="page-link btn btn-sm" href="/leaderboard/servers/3">3</a></li>
    <li class="page-item">
      <a class="page-link btn btn-primary btn-sm" href="/leaderboard/servers/2">الصفحة التالية</a>
    </li>
  </ul>
  </nav>
  </center>
<% include ../footer %>

<% include ../scripts %>
</body>

</html>